ion-content.body{
    
    --ion-background-color:#EFFCEF;
    // --background: url('../../assets/icon/circle-design.png') no-repeat center/cover fixed;
    //  --ion-background-size:144% 137vh;
  }

  .first{
   
      margin-top: 100px;
  }
  
  
  .center{
      margin-top:100px;
  }
  b{
      font-family: Acuta;
      color:#2B580C;
      font-size: 17px;
      font-weight:400px;
     
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F1FFF1;
    overflow-x: hidden;
    transition: 0.1s;
    border-style: solid;
    border-color: #707070;
    border-width:1px;
   
  }
  a.closebtn {
  
    float:right;
    width:30px;
    margin-left: 207px;
    margin-top: 19px;
    margin-right: 14px;
    }
   
    
    .nallorevattamimage{
        
        margin-top: 148px;
       
    }
   
    .nallorevattam_letter{
        font-family:"Acuta";
        font-size:25px;
        margin-top: 161px;
        margin-left: 132.84px;
        margin-right: 38.16px;
    }

    
   
    .mainhead{
        margin-left:10.51px;
        font-size:25px;
        color:#2B580C;
        margin-bottom: 10px;
    }
    
    .mainlogo{
        width:92px;
    }
    .middle{
        margin-top:65px;
    }
    .menuicon{
        width:37px;
       
    }
    .gape{
        margin-top: 42px;
        margin-left:30px;
        margin-top: 42px;
    }
   
    .link{
       
        font-size:20px;
        margin-top:46px;
        font-family: "Adobe Caslon Pro,Adobe Caslon Pro";
        color: #2B580C;
    }
    