ion-content.body{
    overflow-y: hidden !important;
    --ion-background-color:#EFFCEF;
    display: block;
    --overflow: hidden;
    border-color: #707070;
    border-width:50px;
    
  }
  
  .first{
   
      margin-top: 100px;
    
  }
  
  
  .center{
      margin-top:100px;
  }
  b{
      font-family: Acuta;
      color:#2B580C;
      font-size: 17px;
      font-weight:400px;
      font-style: bold;
     
  }
  .homeimage{
      width:117px;
      height:90px;
  }
  .womenimage{
    width: 132px;
    height: 123px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F1FFF1;
    overflow-x: hidden;
    transition: 0.1s;
    border-style: solid;
    border-color: #707070;
    border-width:1px;
   
  }
  a.closebtn {
  
    float:right;
    width:30px;
    margin-left: 207px;
    margin-top: 19px;
    margin-right: 14px;
    }
   
    .Nallore{
        font-size: 25px;
        margin-left:10.84px;
        font-family:Acuta;
        color: #2b582b;
        font-weight: bold;
    }
    .Vattam{
        font-size: 25px;
        margin-left: 31.56px;
        font-family:Acuta;
        line-height:0.5;
        color: #2b582b;
        font-weight: bold;
    }
    .nallorevattamimage{
        
        margin-top: 148px;
       
    }
   
    .nallorevattam_letter{
        font-family:"Acuta";
        font-size:25px;
        margin-top: 161px;
        margin-left: 132.84px;
        margin-right: 38.16px;
    }

    
   
    .mainhead{
        margin-left:10.51px;
        font-size:25px;
        color:#2B580C;
        margin-bottom: 10px;
    }
    
    .mainlogo{
        width:92px;
    }
    .middle{
        margin-top:65px;
    }
    .menuicon{
        width:37px;
       
    }
    .gape{
        margin-top: 42px;
        margin-left:30px;
        margin-top: 42px;
    }
   
    .link{
       
        font-size:20px;
        margin-top:46px;
        font-family: "Adobe Caslon Pro,Adobe Caslon Pro";
        color: #2B580C;
    }
    @media only screen and (max-width:320px) {
    .position{
        position: absolute;
        margin-top: -167px;
        margin-left: -186px;
        margin-right: -127px;
            
        }
    }
    
    @media only screen and (min-width:375px)and(max-width:424px) {
        .position{
            position: absolute;
            margin-top: -102px;
            margin-left: -84px;
            margin-right: -64px;
                
            }
      }
      @media only screen and(min-width:425px) and (max-width:475px) {
        .position{
            position: absolute;
            margin-top: -140px;
            margin-left: -84px;
            margin-right: -99px;
                
            }
      }
      @media only screen and(min-width:476px) and (max-width:576px) {
        .position{
            position: absolute;
            margin-top: -157px;
            margin-left: -84px;
            margin-right: -99px;
                
            }
      }


      .bottom-position{
        margin-left: 119px;
        margin-top: 39px;
        width: 356px;
         
      }

      @media only screen and(min-width:411px) and (min-height:846px) {
        .position{
            position: absolute;
            margin-top: -102px;
            margin-left: -84px;
            margin-right: -99px;
                
            }

            .bottom-position{
                margin-left: 119px;
               margin-top: 25px;
               width: 356px;
         
      }
      }
      
      