<ion-content class="body"><!--bodyopen-->
  <div class="position">
    <img src="../../assets/icon/Ellipse 1.png" width="150%">
  </div>
  <div class="first"><!--fisrt open-->
    <div class="row"  >
      <div class="col-2 ml-3 menu">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">
          <img src ="../../assets/icon/menu.png">
        </span>
      </div>
      <div class="col-4 mb-2 home"><img src="../../assets/icon/HOME.png"></div>
    </div>
  </div><!--first close-->

<div class="center"><!--center  open-->
  <div class="row">
    <div class="col-5 ml-5"><img  class="homeimage"src="../../assets/icon/student.png">
     <div class="row"><div class="col-12 ml-1"><b>Students power</b></div></div>
    </div>
    <div class="col-5  ml-2 village"><img class="homeimage" src="../../assets/icon/villagge1.png">
      <div class="row"><div class="col-12 ml-4"><b>Village</b></div></div>
    </div>
  </div>
  
  
  <div class="row mt-3" >
    <div class="col-5 ml-5"><img class="homeimage" src="../../assets/icon/socila_influencing.png">
      <div class="row"><div class="col-12 "><b>Influencing People</b></div></div>
    </div>
    <div class="col-5 ml-2"><img class="homeimage" src="../../assets/icon/ngo.png">
      <div class="row"><div class="col-12 ml-5"><b>NGO</b></div></div>
    </div>
 </div>
 
  <div class="row mt-3" >
    <div class="col-3"></div>
    <div class="col-7 ml-4 ">
       <img  class="womenimage"src="../../assets/icon/women.png">
        <div class="row">
          <div class="col-12 ml-3">
            <b>Women Power </b>
          </div>
       </div>
    </div>
    <div class="col-2"> </div>
  </div>
  <img class="bottom-position" src="../../assets/icon/Ellipse 1.png" width="100%">
</div><!--center close-->

<div id="mySidenav" class="sidenav"><!--sidenav open-->
    
     
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
          <img src="../../assets/icon/close.png">
        </a>
      
      <div style="margin-top:148px;">
          <img src="../../assets/icon/nallorevattam.png" 
          alt="" height="92px" width="92px" class="float-left" style="margin-left: 30px;">
          <span class="Nallore mt-5"><i>Nallore</i></span>
          <span class="Vattam"><i>Vattam</i></span>
      </div>
        
       

       <div class="middle"><!--middle open-->
          <span class="gape float-left">
            <a>
              <img class="menuicon" src="../../assets/icon/smallhome.png">
              <span class="link ml-3">Home</span>
            </a>
          </span>

          <span class="gape float-left ">
            <a>
              <img  class="menuicon" src="../../assets/icon/small student.png">
              <span class="link ml-3">Students Power</span>
            </a>
          </span>

          <span class="gape float-left ">
            <a>
              <img class="menuicon" src="../../assets/icon/village.png">
              <span class="link ml-3">Village</span>
            </a>
          </span>
          
          
            <span class=" gape float-left">
              <a>
                <img class="menuicon" src="../../assets/icon/influence.png">
                <span class="link ml-3">Influencing People</span>
              </a>
            </span>
           
           <span class="gape float-left ">
              <a>
                <img class="menuicon" src="../../assets/icon/help.png">
                <span class="link ml-3">NGO</span>
              </a>
           </span>

            <span class="gape float-left">
              <a>
                <img class="menuicon"  src="../../assets/icon/womanpower.png">
                <span class="link ml-3">Women Power</span>
              </a>
            </span>
            <span class="gape float-left">
              
            </span>
        </div><!--middle close-->
     
     
</div><!--sidenav close-->

</ion-content><!--body close-->

  

