<ion-content class="body">
  <div class="first"style="background: url('../../assets/icon/circle-design.png');">
    <div class="row"  >
      <div class="col-2 ml-3 menu">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">
          <img src ="../../assets/icon/menu.png">
        </span>
      </div>
      <div class="col-4 mb-2 home"><img src="../../assets/icon/HOME.png"></div>
    </div>
  </div>

<div class="center">
  <div class="row">
    <div class="col-5 ml-4  student"><img src="../../assets/icon/student.png">
     <div class="row"><div class="col-12 ml-1"><b>Students power</b></div></div>
    </div>
    <div class="col-5  ml-3 village"><img src="../../assets/icon/villagge1.png">
      <div class="row"><div class="col-12 ml-4"><b>Village</b></div></div>
    </div>
  </div>
  
  
  <div class="row mt-3" >
    <div class="col-5 ml-4"><img src="../../assets/icon/socila_influencing.png">
      <div class="row"><div class="col-12 "><b>Influencing People</b></div></div>
    </div>
    <div class="col-5 ml-3"><img src="../../assets/icon/ngo.png">
      <div class="row"><div class="col-12 ml-5"><b>NGO</b></div></div>
    </div>
 </div>

  <div class="row mt-3" >
    <div class="col-3"></div>
    <div class="col-6 "><img src="../../assets/icon/women.png">
      <div class="row"><div class="col-12 ml-4"><b>Women Power </b></div></div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div id="mySidenav" class="sidenav">
    
     
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
          <img src="../../assets/icon/close.png">
        </a>
      
      <div style="margin-top:148px;">
          <img src="../../assets/icon/nallorevattam.png" alt="" height="92px" width="92px" class="float-left" style="margin-left: 30px;">
        <span class="mt-5" style="font-size: 25px;margin-left:10.84px;font-family:Acuta;color: #2b582b;font-weight: bold;"><i>Nallore</i></span>
        <span style="font-size: 25px;margin-left: 31.56px;font-family:Acuta;line-height:0.5;color: #2b582b;font-weight: bold;"><i>Vattom</i></span>
      </div>
        
       

       <div class="middle">
          <span class="gape float-left">
            <a>
              <img class="menuicon" src="../../assets/icon/smallhome.png">
              <span class="link ml-3">Home</span>
            </a>
          </span>

          <span class="gape float-left ">
            <a>
              <img  class="menuicon" src="../../assets/icon/small student.png">
              <span class="link ml-3">Students Power</span>
            </a>
          </span>

          <span class="gape float-left ">
            <a>
              <img class="menuicon" src="../../assets/icon/village.png">
              <span class="link ml-3">Village</span>
            </a>
          </span>
          
          
            <span class=" gape float-left">
              <a>
                <img class="menuicon" src="../../assets/icon/influence.png">
                <span class="link ml-3">Influencing People</span>
              </a>
            </span>
           
           <span class="gape float-left ">
              <a>
                <img class="menuicon" src="../../assets/icon/help.png">
                <span class="link ml-3">NGO</span>
              </a>
           </span>

            <span class="gape float-left">
              <a>
                <img class="menuicon"  src="../../assets/icon/womanpower.png">
                <span class="link ml-3">Women Power</span>
              </a>
            </span>
            <span class="gape float-left">
              
            </span>
        </div>
     
     
</div>

</ion-content>

  

