
ion-content.body{
  --background: url('../../assets/icon/background.png') no-repeat center/cover fixed;
    
   
}

.center{
  margin-top: 330px;
}
.logo{
  width:70px;
  height:70px;
}
span{
  color:#E60918;
  font-size:20px;
  float:right;
  font-family:"Montserrat";
}


.example-full-width{
  width:260px;
  font-family: "Montserrat";
 
}
.mat-form-field {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-style: Montserrat;
}
i{
  margin-left:1.7rem;
  margin-top:2rem;
}

button{
  background-color:#00B4AC ;
  width:240px;
  color:whitesmoke;
  font-weight: 1000px;
  font-family:sans-serif;
  opacity: 0.8;

}
[transparent]{
  --background:transparent;
}


@media(min-width:321px){
  button{
    background-color:#38daa5 ;
    width:290px;
    color:white;
  }
}
@media(min-width:375px){
  button{
    background-color:#00B4AC ;
    width:309px;
    color:white;
  }
  i{
    margin-left:1.7rem;
    margin-top:2rem;
  }
 
}

@media(min-width:425px){
  
  i{
    margin-left:1.9rem;
    margin-top:2rem;
  }
 
}




@media(min-width:769px){
  button{
    background-color:#00B4AC ;
    width:440px;
    color:white;
    
  }
  i{
 
    margin-left:15rem;
    margin-top:2.6rem;
  }
}
